<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>WELCOME <%= name %>, your Gender is <%= Gender %></h1>

    <% if (name == "Abasdd") { %>
     <h1>valid</h1>
     <% } else { %>
      <h1>Invalid</h1>
    <% } %>
</body>
</html >